{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "quotes": "off",
    "no-console": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}
